body, html, p, div{
    margin: 0;
    padding: 0;
    outline: none;
}
a{
    color: initial; /* 覆盖激活时的颜色 */
    text-decoration: none;
}
body::-webkit-scrollbar {
    display: none;
}
input{
    outline: none;
    border: none;
    color:#DCDCDC;
}
button{
    border: none;
    background-color: #DCFF07;
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
}

$theme-color:#0C0C0C;
$theme-active:#DCFF07;
$low-theme-color:#282828;
$theme-text:#DCDCDC;

$border-color:#303030;  //边框线
$text-color:#B4B4B4;  //文字
$menubar-bgcolor:#F5F5F5;
$active-color:#CDCDCD;
$block-color:#EEF0F4;  //块应用
$block-border-color:#DDDFE4; //块应用行提示
$note-block-color:#DDDFE4;  //笔记行提示
